body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book-container {
  border: 1px solid black;
  padding: 1em;
}

.library-container {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  margin: 1em 1em 2em;
}

@media only screen and (max-width: 600px) {
  .library-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .library-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .library-container {
    grid-template-columns: repeat(3, 300px);
  }
}
