body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book-container {
  border: 1px solid black;
  padding: 16px;
}

.book-container .book-title {
  margin-block-start: 0;
}

.book-form-container {
  display: flex;
  justify-content: space-around;
}

button {
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 8px;
}

.featured-book {
  grid-area: span 2 / span 1;
}

h1 {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10em;
}

.header-container button {
  height: 40px;
}

.library-container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(auto-fill, 300px);
  justify-content: center;
  margin: 1em 1em 2em;
}

.button-options {
  display: flex;
  justify-content: space-between;
}

.button-primary {
  background-color: rgb(0, 102, 255);
  color: white;
}

.button-error {
  background-color: orangered;
  color: white;
}

.button-secondary {
  background-color: none;
}

.button-success {
  background-color: forestgreen;
  color: white;
}

@media only screen and (max-width: 600px) {
  .library-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .library-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .library-container {
    grid-template-columns: repeat(3, 300px);
  }
}
