body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 0 1em;
}

.book-container {
  border: 1px solid black;
  padding: 16px;
}

.book-container .book-title {
  margin-block-start: 0;
}

.book-form-container {
  display: flex;
  justify-content: space-around;
}

.featured-book {
  grid-area: span 2 / span 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container button {
  height: 40px;
}

.library-container {
  display: grid;
  grid-gap: 1em;
  margin: 1em 0 2em;
}

@media only screen and (max-width: 600px) {
  .library-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .library-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .library-container {
    grid-template-columns: repeat(3, auto);
  }
}
